@import "tailwindcss";

@theme {
  /* ADN Visual Nakeema Original: Paleta Corporativa Light Mode */
  --color-nakeemaGreen: #0da766;
  --color-nakeemaGreenDark: #0a8752;
  --color-nakeemaYellow: #FFC107;
  --color-nakeemaGray: #6c757d;

  /* Estableciendo Montserrat como fuente principal */
  --font-sans: var(--font-montserrat), sans-serif;
}

:root {
  --background: #f8f9fa;
  /* Fondo general gris muy claro */
  --foreground: #212529;
  /* Texto oscuro principal */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer utilities {

  /* Componente de Utilidad Global: Tarjetas Nakeema Clásicas */
  .nk-card {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 1.5rem;
    /* rounded-3xl */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
    /* shadow-sm */
    transition: all 0.2s ease-in-out;
  }
}